[gc]
    auto = 1
[user]
    name = Arthur Darcet
    email = arthur.darcet@m4x.org
[color]
    ui = true
[color "diff"]
    whitespace = red reverse
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    pager = less -F -X
[alias]
    st = status -sb
    ci = commit
    br = branch
    co = checkout
    df = diff --word-diff
    dc = diff --cached --word-diff
    lg = log -p
    lo = log --graph --decorate --pretty=oneline --abbrev-commit -n 10
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard
    amend = commit --amend -C HEAD
    fixup = !sh -c 'git commit --fixup=$1 && git rebase -i --autosquash "$1^"' -
[branch]
    autosetuprebase = always
[push]
    default = simple
